*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
}

/* -------------Sidebar--------- */
.main-sidebars{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: rgb(218,83,80);
}
.management-logo{
    width: 100%;
    height: 7%;
    border-bottom: 1px solid gray;
}
.img-logo{
    width: 100%;
    height: 100%;
}
.management-sidebar-logo{
    width: 100%;
    height: 100%;
}
.list-group-sidebar{
    margin-top: 5%;
}
.list-group-item{
    background-color: rgb(218,83,80);
    padding: 2%;
    margin: 2% 4%;
}

.management-main{
    position: absolute;
    width: 80%;
    right: 0%;
}

/* -------------- management-navbar ------------------- */

.management-navbar{
    height: 20%;
    text-align: center;
    border-bottom: 1px solid gray;
}
.navbar-collapse-list{
    list-style-type: none;
}

.management-link-logo{
    padding:0% 3%;
}
.nav-item-colorborder{
    border-bottom: 2px solid rgb(85,144,254);
}
.management-dropdown-admin{
    margin-left: 20%;
}
/* ------------------- */

.management-container{
    width:100%;
}

/* -------------------- management-listuser--------------------- */
.management-listuser{
    width: 100%;
    padding: 0% 3%;
}
.management-nav-list{
    width: 100%;
}
/* --------------------- */
.breadcrumb-item-link{
    color: black;
    text-decoration: none;
}
/* ----------- */
.management-back{
    margin-bottom: 2%;
}
.management-btn-back{
    padding: 0.2% 1%;
    color: rgb(218,83,80);
    border: 1px solid rgb(218,83,80);
    border-radius: 10px;
}


/* ---------------management-table----------------- */
.management-table{
    width: 100%;
    text-align: center;
    font-size: smaller;
}
.table-btn-detail,
.table-btn-repass{
    border: none;
    color: aliceblue;
    padding: 1% 3%;

    background-color: rgb(218,83,80);
    border-radius: 5px;
}
.table-checkbox-user{
    color: rgb(218,83,80);
}